@keyframes innerRotating {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes middleRotating {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes outerRotating {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* title style */
.empty-title {
  text-align: center;
  font-size: 2em;
}

/* canvas style */

canvas {
  background: transparent;
}

.canvas-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.inner-canvas {
  animation: innerRotating 2s infinite linear;
}

.middle-canvas {
  position: absolute;
  animation: middleRotating 3s infinite linear;
}

.outer-canvas {
  position: absolute;
  animation: outerRotating 1s infinite linear;
}