.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-bottom: 1px solid rgba(30,35,42,.06);
  box-shadow: 0 1px 3px 0 rgba(0,34,77,.05);
  z-index: 4;
}

.nav-container > .nav-bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-container > .nav-bar > div {
  display: flex;
  align-items: center;
}

/* logo styles */
.nav-container > .nav-bar .logo-img {
  max-width: 35px;
}

/* nav styles */
.nav-container > .nav-bar nav {
  margin-left: 30px;
}

/* nav item styles */
.nav-container > .nav-bar .nav-item {
  margin-right: 30px;
  font-size: 1.2em;
  color: #8590a6;
  cursor: pointer;
}

.nav-container > .nav-bar .nav-item:hover {
  text-decoration: none;
  color: #175199;
}

/* avatar styles */
.nav-container > .nav-bar .avatar {
  max-width: 35px;
  border-radius: 50%;
  border: 1px solid silver;
  cursor: pointer;
}