.user-container {
  padding: 50px 0;
  background: white;

  .avatar {
    text-align: center;
    
    img {
      max-width: 100px;
      border-radius: 50%;
      border: 1px solid rgba(0,0,0,.1);
    }
  }

  .user-info {
    margin: 12px 0;
    text-align: center;

    .name {
      margin: 0;
      font-size: 1.5em;
      line-height: 28px;
    }
  }

  .work {
    .delimiter {
      margin: 50px 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;

      p {
        margin: 0;
      }

      div {
        width: 40%;
        border-bottom: 1px solid #f0f0f0;
      }
    }
  }
}