.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  border-radius: 6px;
  opacity: 0;
}

/* delimiter styles */
.modal-container .delimiter {
  opacity: 0;
  margin: 0 10px;
  width: 40px;
  border-top: 1px solid white;
}

/* toggle styles */
.modal-container .toggle-btn {
  opacity: 0;
  padding: 0 50px;
}

/* modal styles */
.modal-container:hover {
  transition: all .5s;
  opacity: .6;
}

.modal-container:hover .toggle-btn {
  opacity: 1;
  padding: 0;
  transition: all .5s .1s;
}

.modal-container:hover .left,
.modal-container:hover .right {
  opacity: 1;
}