.tab-container {
  border-bottom: 1px solid #f0f2f7;
  padding: 0 20px 10px;
  margin-bottom: 20px;
}

.tab-container > .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tab-container > .wrapper .nav-item {
  margin-right: 30px;
  font-size: 1.2em;
  color: #8590a6;
  cursor: pointer;
}

.tab-container > .wrapper .nav-item:hover {
  text-decoration: none;
  color: #175199;
}

.function-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}