/* import ant design css files */
@import '~antd/dist/antd.css';

/* flexible layout */

@media screen and (max-width: 680px) {
  .flex-container {
    width: 100%;    
  }
}

@media screen and (min-width: 680px) and (max-width: 1024px) {
  .flex-container {
    width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .flex-container {
    width: 990px;
  }
}

body {
  background: #f3f3f3;
}

#root {
  margin: 80px auto 20px;
  /* background: white; */
}

.flex-container {
  margin: 0 auto;
}