.movie-container {
  width: 25%;
}

.movie-container .wrapper {
  width: 150px;
  margin: 0 auto;
  position: relative;
}

/* poster style */
.movie-container .poster {
  width: 150px;
  height: 200px;
  border-radius: 6px;
}

/* title styles */
.movie-container > .wrapper > .title {
  margin: 14px 0 9px;
  line-height: 22px;
  font-size: 1.2em;
  font-weight: 500;
}

.movie-container > .wrapper > .title a {
  color: #222;
}

.movie-container > .wrapper > .title a:hover {
  color: #0f88eb;
}